<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_principal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="images/Logo_icono.ico">
    
    <title>Principal | Siinbal </title>
</head>
<body>
    
    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-ligth py-4 fixed-top ">
        <div class="container">
            <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0" href="principal.html">
                <img src="images/Siinbal_Texto.png" alt="site icon" width="110px" >
            </a>

            <!--ICONOS DEL NAVBAR-->

            
            
            <!--MENU DESPLEGABLE-->

            <button class="navbar-toggler border-0" type="button" data-bs-toggle = "collapse" data-bs-target ="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-lg-1" id="navMenu">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" aria-current="page" href="#header">Inicio</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" aria-current="page" href="#Catalogo">Catalogo</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" aria-current="page" href="#Vehiculo">Vehiculos</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" aria-current="page" href="#Blog">Blog</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" aria-current="page" href="#Sobre">Sobre nosotros</a>
                    </li>
                    <li class="nav-item px-2 py-2 border-0">
                        <a class="nav-link text-uppercase text-dark" aria-current="page" href="#Extras">Extras</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!--end navbar-->


    <!--header-->

    <header id = "header" class = "vh-100 carousel slide" data-bs-ride = "carousel" style = "padding-top: 104px;">
        <div class = "container h-100 d-flex align-items-center carousel-inner">
            <div class = "text-center carousel-item active">
                <h2 class = "text-capitalize text-white">Los mejores planes</h2>
                <h1 class = "text-uppercase py-2 fw-bold text-white">Mejores precios</h1>
                <a href = "login.html" class = "btn mt-3 text-uppercase">Adquirir </a>
            </div>
            <div class = "text-center carousel-item">
                <h2 class = "text-capitalize text-white">Mejor precio y ofertas</h2>
                <h1 class = "text-uppercase py-2 fw-bold text-white">Destinos nuevos</h1>
                <a href = "login.html" class = "btn mt-3 text-uppercase">Adquirir</a>
            </div>
        </div>

        <button class = "carousel-control-prev" type = "button" data-bs-target="#header" data-bs-slide = "prev">
            <span class = "carousel-control-prev-icon"></span>
        </button>
        <button class = "carousel-control-next" type = "button" data-bs-target="#header" data-bs-slide = "next">
            <span class = "carousel-control-next-icon"></span>
        </button>
    </header>

    <!--end header-->
    
    <!--collecion-->

    <section id = "Catalogo" class = "py-5">
        <div class = "container">
            <div class = "title text-center">
                <h2 class = "position-relative d-inline-block">Catálogo</h2>
            </div>

            <div class = "row g-0">
                
                <div id="propiedades" class = "collection-list mt-4 row gx-0 gy-3" >
                    
                    <!-- 
                    <div class = "col-md-6 col-lg-4 col-xl-3 p-2 vendidos">
                        <div class = "collection-img position-relative">
                            <img src = "images/Propuesta.jpg" class = "w-100">
                            <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                        </div>
                        <div class = "text-center">
                            <div class = "rating mt-3">
                                <span class = "text-custom"><i class = "bi bi-star-fill"></i></span>
                                <span class = "text-custom"><i class = "bi bi-star-fill"></i></span>
                                <span class = "text-custom"><i class = "bi bi-star-fill"></i></span>
                                <span class = "text-custom"><i class = "bi bi-star-fill"></i></span>
                            </div>
                            <p class = "text-capitalize my-1">Apartamento</p>
                            <span class = "fw-bold">$ 50.50</span>
                        </div>
                    </div> -->
                            

                </div>
            </div>
        </div>
    </section>

    <!-- end collection-->

    <!-- Vehiculos -->
    <section id = "Vehiculo" class = "py-5">
        <div class = "container">
            <div class = "title text-center py-5">
                <h2 class = "position-relative d-inline-block">Selecciona Tu Vehiculo</h2>
            </div>
            <div class="row g-0">
                <div id="vehiculos_" class = "collection-list mt-4 row gx-0 gy-3">
                    
                    <!-- <div class = "col-md-6 col-lg-4 col-xl-3 p-2">
                        <div class = "special-img position-relative overflow-hidden">
                            <img src = "images/Mazda3.avif" class = "w-100">
                            <span class = "position-absolute d-flex align-items-center justify-content-center text-custom fs-4">
                                <i class = "bi bi-heart-fill"></i>
                            </span>
                        </div>
                        <div class = "text-center">
                            <p class = "text-capitalize mt-3 mb-1">gray shirt</p>
                            <span class = "fw-bold d-block">$ 45.50</span>
                            <a href = "#" class = "btn btn-primary mt-3">Add to Cart</a>
                        </div>
                    </div> -->


                </div>
            </div>    
        </div>
    </section>
    <!-- end of special products -->

     <!-- blogs -->
     <section id = "Blog" class = "py-5">
        <div class = "container">
            <div class = "title text-center py-5">
                <h2 class = "position-relative d-inline-block">Our Latest Blog</h2>
            </div>

            <div class = "row g-3">
                <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                    <img src = "images/Post1.jpg" alt = "">
                    <div class = "card-body px-0">
                        <h4 class = "card-title">Beneficios de Viajar</h4>
                        <p class = "card-text mt-3 text-muted">¿Sabía que tenemos menos de un quinto de la vida para hacer lo que nos gusta y conocer los lugares más emblemáticos en cualquier parte del mundo? Por eso le presentamos 5 motivos que demuestran el beneficio que trae cumplir con este sueño de todos.</p>
                        <p class = "card-text">
                            <small class = "text-muted">
                                <span class = "fw-bold">Autor: </span>John Doe
                            </small>
                        </p>
                        <a href = "#" class = "btn">Saber mas</a>
                    </div>
                </div>

                <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                    <img src = "images/Post2.jpg" alt = "">
                    <div class = "card-body px-0">
                        <h4 class = "card-title">Honduras cuna de maravillas</h4>
                        <p class = "card-text mt-3 text-muted">Honduras tiene muchos destinos turísticos que llama la atención de varios turistas por su abundante y variada belleza natural que se manifiesta en su gente, en sus playas de arena blanca y obscura, arrecifes de coral, flora y fauna silvestre espectacular de admirar así como su gran belleza e historia arqueológica.</p>
                        <p class = "card-text">
                            <small class = "text-muted">
                                <span class = "fw-bold">Autor: </span>Suamy Inestroza
                            </small>
                        </p>
                        <a href = "#" class = "btn">Saber mas</a>
                    </div>
                </div>

                <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                    <img src = "images/Post3.webp" alt = "">
                    <div class = "card-body px-0">
                        <h4 class = "card-title">Turismo Sostenible ¿Que es?</h4>
                        <p class = "card-text mt-3 text-muted">El desarrollo turístico se refiere a la creación y el mantenimiento de una industria turística dentro de un lugar en particular, y el desarrollo del turismo sostenible se preocupa por garantizar que este proceso tenga en cuenta factores como la sostenibilidad ambiental, cultural y económica.</p>
                        <p class = "card-text">
                            <small class = "text-muted">
                                <span class = "fw-bold">Autor: </span>Revfine
                            </small>
                        </p>
                        <a href = "#" class = "btn">Saber mas</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- end of blogs -->

     <!-- blogs -->
     <section id = "Blog" class = "py-5">
        <div class = "container">
            <div class = "title text-center py-5">
                <h2 class = "position-relative d-inline-block">Our Latest Blog</h2>
            </div>

            <div class = "row g-3">
                <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                    <img src = "images/Lectura1.jpg" alt = "">
                    <div class = "card-body px-0">
                        <h4 class = "card-title">Lorem ipsum, dolor sit amet consectetur adipisicing</h4>
                        <p class = "card-text mt-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aspernatur repudiandae nostrum dolorem molestias odio. Sit fugit adipisci omnis quia itaque ratione iusto sapiente reiciendis, numquam officiis aliquid ipsam fuga.</p>
                        <p class = "card-text">
                            <small class = "text-muted">
                                <span class = "fw-bold">Author: </span>John Doe
                            </small>
                        </p>
                        <a href = "#" class = "btn">Read More</a>
                    </div>
                </div>

                <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                    <img src = "images/Lectura1.jpg" alt = "">
                    <div class = "card-body px-0">
                        <h4 class = "card-title">Lorem ipsum, dolor sit amet consectetur adipisicing</h4>
                        <p class = "card-text mt-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aspernatur repudiandae nostrum dolorem molestias odio. Sit fugit adipisci omnis quia itaque ratione iusto sapiente reiciendis, numquam officiis aliquid ipsam fuga.</p>
                        <p class = "card-text">
                            <small class = "text-muted">
                                <span class = "fw-bold">Author: </span>John Doe
                            </small>
                        </p>
                        <a href = "#" class = "btn">Read More</a>
                    </div>
                </div>

                <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                    <img src = "images/Lectura1.jpg" alt = "">
                    <div class = "card-body px-0">
                        <h4 class = "card-title">Lorem ipsum, dolor sit amet consectetur adipisicing</h4>
                        <p class = "card-text mt-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aspernatur repudiandae nostrum dolorem molestias odio. Sit fugit adipisci omnis quia itaque ratione iusto sapiente reiciendis, numquam officiis aliquid ipsam fuga.</p>
                        <p class = "card-text">
                            <small class = "text-muted">
                                <span class = "fw-bold">Author: </span>John Doe
                            </small>
                        </p>
                        <a href = "#" class = "btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of blogs -->

      <!-- Sobre Nosotros -->
      <section id = "Sobre" class = "py-5">
        <div class = "container">
            <div class = "row gy-lg-5 align-items-center">
                <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
                    <div class = "title pt-3 pb-5">
                        <h2 class = "position-relative d-inline-block ms-5">Sobre Nosotros</h2>
                    </div>
                    <p class = "lead text-muted">Con Siinbal viajas sin preocupaciones</p>
                    <p>Una nueva propuesta para que puedas viajar de la manera mas comoda y sin preocupaciones, ofreciendote todos los servicios que puedes necesitar al momento de planificar tus vacaciones de ensueño.</p>
                </div>
                <div class = "col-lg-6 order-lg-0">
                    <img src = "images/EquipoTrabajo.jpg" alt = "" class = "img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- end of Sobre Nosotros -->

     <!-- Extras -->
     <section id = "Extras" class = "py-5">
        <div class = "container">
            <div class = "title text-center pt-3 pb-5">
                <h2 class = "position-relative d-inline-block ms-4">Extras</h2>
            </div>

            <div class = "row">
                <div class = "col-md-6 col-lg-4 row g-3">
                    <h3 class = "fs-5">Internet</h3>
                    <div class = "d-flex align-items-start justify-content-start">
                        <img src = "images/Internet.jpg" alt = "" class = "img-fluid pe-3 w-25">
                        <div>
                            <p class = "mb-0">Texto</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                    <div class = "d-flex align-items-start justify-content-start">
                        <img src = "images/Internet.jpg" alt = "" class = "img-fluid pe-3 w-25">
                        <div>
                            <p class = "mb-0">Texto</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                    <div class = "d-flex align-items-start justify-content-start">
                        <img src = "images/Internet.jpg" alt = "" class = "img-fluid pe-3 w-25">
                        <div>
                            <p class = "mb-0">Texto</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                </div>

                <div class = "col-md-6 col-lg-4 row g-3">
                    <h3 class = "fs-5">Alimentacion</h3>
                    <div class = "d-flex align-items-start justify-content-start">
                        <img src = "images/Internet.jpg" alt = "" class = "img-fluid pe-3 w-25">
                        <div>
                            <p class = "mb-0">texto</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                    <div class = "d-flex align-items-start justify-content-start">
                        <img src = "images/Internet.jpg" alt = "" class = "img-fluid pe-3 w-25">
                        <div>
                            <p class = "mb-0">texto</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                    <div class = "d-flex align-items-start justify-content-start">
                        <img src = "images/Internet.jpg" alt = "" class = "img-fluid pe-3 w-25">
                        <div>
                            <p class = "mb-0">texto</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                </div>

                <div class = "col-md-6 col-lg-4 row g-3">
                    <h3 class = "fs-5">Guia Turistica</h3>
                    <div class = "d-flex align-items-start justify-content-start">
                        <img src = "images/Internet.jpg" alt = "" class = "img-fluid pe-3 w-25">
                        <div>
                            <p class = "mb-0">Texto</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                    <div class = "d-flex align-items-start justify-content-start">
                        <img src = "images/Internet.jpg" alt = "" class = "img-fluid pe-3 w-25">
                        <div>
                            <p class = "mb-0">Texto</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                    <div class = "d-flex align-items-start justify-content-start">
                        <img src = "images/Internet.jpg" alt = "" class = "img-fluid pe-3 w-25">
                        <div>
                            <p class = "mb-0">Texto</p>
                            <span>$ 20.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of Extras -->

     <!-- informate -->
     <section id = "informate" class = "py-5">
        <div class = "container">
            <div class = "d-flex flex-column align-items-center justify-content-center">
                <div class = "title text-center pt-3 pb-5">
                    <h2 class = "position-relative d-inline-block ms-4">Recibe Nueva Informacion</h2>
                </div>

                <p class = "text-center text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus rem officia accusantium maiores quisquam dolorum?</p>
                <div class = "input-group mb-3 mt-3">
                    <input type = "text" class = "form-control" placeholder="Ingresa Tu Correo Electronico ...">
                    <button class = "btn btn-primary" type = "submit">Suscribete</button>
                </div>
            </div>
        </div>
    </section>
    <!-- end of informate -->

     <!-- footer -->
     <footer class = "bg-dark py-5">
        <div class = "container">
            <div class = "row text-white g-4">
                <div class = "col-md-6 col-lg-3">
                    <a class = "text-uppercase text-decoration-none brand text-white" href = "index.html">Attire</a>
                    <p class = "text-white text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum mollitia quisquam veniam odit cupiditate, ullam aut voluptas velit dolor ipsam?</p>
                </div>

                <div class = "col-md-6 col-lg-3">
                    <h5 class = "fw-light">Links</h5>
                    <ul class = "list-unstyled">
                        <li class = "my-3">
                            <a href = "#" class = "text-white text-decoration-none text-muted">
                                <i class = "bi bi-chevron-right me-1"></i> Home
                            </a>
                        </li>
                        <li class = "my-3">
                            <a href = "#" class = "text-white text-decoration-none text-muted">
                                <i class = "bi bi-chevron-right me-1"></i> Casas
                            </a>
                        </li>
                        <li class = "my-3">
                            <a href = "#" class = "text-white text-decoration-none text-muted">
                                <i class = "bi bi-chevron-right me-1"></i> Blogs
                            </a>
                        </li>
                        <li class = "my-3">
                            <a href = "#" class = "text-white text-decoration-none text-muted">
                                <i class = "bi bi-chevron-right me-1"></i> Sobre Nosotros
                            </a>
                        </li>
                    </ul>
                </div>

                <div class = "col-md-6 col-lg-3">
                    <h5 class = "fw-light mb-3">Contact Us</h5>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class = "bi bi-map"></i>
                        </span>
                        <span class = "fw-light">
                            Residencial La Hacienda, Tegucigalpa, Honduras
                        </span>
                    </div>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class = "bi bi-envelope"></i>
                        </span>
                        <span class = "fw-light">
                            siimbal.support@gmail.com
                        </span>
                    </div>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class = "bi bi-phone"></i>
                        </span>
                        <span class = "fw-light">
                            +504 2253-1001
                        </span>
                    </div>
                </div>

                <div class = "col-md-6 col-lg-3">
                    <h5 class = "fw-light mb-3">Siguenos</h5>
                    <div>
                        <ul class = "list-unstyled d-flex">
                            <li>
                                <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class = "bi bi-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class = "bi bi-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class = "bi bi-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class = "bi bi-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer -->

    <!--Jquery-->
    <script src="js/jquery-3.6.4.js"></script>

    <!--ISOTOPE JS-->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

     <!--CSS y JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <!--JS Custom-->
    <script src="js/script.js">
    </script>
    <script src="js/script-index.js"></script>

    

</body>
</html>