
/* clasees */
.navbar-personali{
    background-color: #485969;
    font-family: 'Alkatra', cursive;
    font-size: 1.75rem;
    
}
.navbar-brand{
    font-size: 2.75rem;
}
.svg{
    width: 20em;
    height: 20em;

}
.imagen-user{
    margin-top: 10em;
}
#header{
    color: white;
}
